#quote{
    color: #1a6c51;
    text-align: center;
    margin: auto;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
}

#section1{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: none;
    
}

#form{
    display: flex;
    flex-wrap: wrap;
    width: 100% ;
}

#search-input{
    display: block;
    width: 100%;
    margin: 0 30%;
    height: 80px;
    background-color: #f0f8ff;
    border: 2px solid black;
    border-radius: 60px;
    color: black;
    padding: 0 10px;
    
}

#groupId{
    display: block;
    width: 100%;
    margin: 0 50px;
    padding: 0;
   
}
#search-button{
    background-color: #1a6c51;
    color: white;
    font-size: 30px;
    font-weight: bold;
    width: 20%;
    margin:20px 10px 0  50px;
    border-radius: 50px;
    text-align: center;
    padding: 5px;
}

.database{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.nutrient{
    display: flex;
    flex-direction: column;
    /* width: 100% ;
    margin: auto; */
   }

#output{
    margin: auto;
    width: 100%;
}

.recipe{
    display: flex;
    flex-direction: row;
    margin: auto;
}

#display{
    margin: 20px;
}