#quote{
    color: #1a6c51;
    text-align: center;
    margin: auto;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
}

.section1{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

#form{
    display: flex;
    flex-wrap: wrap;
    width: 100% ;
}