@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Philosopher&family=Poppins:wght@300;500;700&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif !important;
  
}

header{
  position: fixed;
  top:0; left: 0; right:0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:rgb(255, 255, 255);
  padding:0.5rem 4%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);

}

/* Dark Mode */
body.dark {
	background: #1c3738;
  color: rgb(255, 255, 255);
}

.checkbox {
	opacity: 0;
	position: absolute;
}
.checkbox:checked + .label {
  background-color: black;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
  background-color: rgb(65, 64, 64);
}


.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.3s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}

.navbar-brand {
  font-size: 20px !important;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 700 !important;
  background: -webkit-linear-gradient(right,#55c9ef, #00b84a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-brand img{
    float: left;
    height: 28px;
    margin-right: 10px;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}

.nav-item {
  margin: 0px 15px;
  text-transform: uppercase;
  font-weight: 700 !important;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
}

.nav-link {
  color: #000000 !important;
}

.home{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(./images/AdobeStock_313609653.jpeg); */
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 25px);
  margin-bottom: 20px;

}

.home .content{
  flex:1 1 40rem;
  padding-top: 1.5rem;
  padding-left: 25px;
}

.home .content h3{
  font-family:'Philosopher', sans-serif;
  font-size: 4.5rem;
  font-weight: 700 ;
  line-height: 60px;
}

.h4-text{
  font-family:'Philosopher', sans-serif;
  font-weight: 500;

}
.home .content p{
  font-family:'Philosopher', sans-serif;
  font-size: 1.4rem;
  padding:1rem 0;
}

.p-text span{
  text-shadow: 0 0 0.2em #97f899;
  -webkit-text-stroke-width: 0.01em;
}

.pic1{
margin-top: 10px;
width:11%;
}

.pic2{
  margin-top: 10px;
  margin-left: 3%;
  margin-right: 3%;
  width:11%;
}

.pic3{
  margin-top: 10px;
  width:12%;
}

.home .image{
  flex:1 1 40rem;
  padding-left: 25px;
}

.home .image img{
  width:85%;
  
  animation:float 3s linear infinite;
}

@keyframes float{
  0%, 100%{
    transform: translateY(0rem);
  }
  50%{
    transform: translateY(2.5rem);
  }
}

/* search section css */

#search{
  background-color: inherit;
}
#quote{
    color: #1a6c51;
    text-align: center;
    margin: auto;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
}

#section1{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: none;
    background-color: inherit;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

#form{
    display: flex;
    flex-wrap: wrap;
    width: 100% ;
}

#search-input{
    display: block;
    width: 100%;
    margin: 0 30%;
    height: 50px;
    background-color: #f0f8ff;
    border: 2px solid #1a6c51;
    border-radius: 60px;
    color: black;
    padding: 0 10px;
    
    
}

#groupId{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px auto;
    padding: 0;
    text-align: center;
   
}
#search-button{
    background-color: #1a6c51;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border-radius: 40px;
    padding: 10px 20px;
     }

.database{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.nutrient{
    display: flex;
    flex-direction: column;
   
   
   }
   #list-of-forecast{
    /* margin: auto; */
    width: auto !important;
    align-items: center;
    color: #1a6c51;
    border: #1a6c51;
    
   }

   #list-of-forecast h1{
    text-transform: uppercase;
   }

   #list-of-forecast p{
    font-size: 20px;
    padding: 5px;
    text-align: center;
   }
.recipe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
}


/* footer css--------------- */

    .footer body {
    font-family: acumin-pro, system-ui, sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* grid-template-columns: 1fr 1fr auto; */
    font-size: 14px;
    background-color: #f4f4f4;
    align-items: start;
    min-height: 100vh;
  }
  
  .footer {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    background-image: url(../AdobeStock_313609653.jpeg)!important;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .footer > * {
    /* flex:  1 100%; */
    flex: 1 50%;
  }
  
  .footer__addr {
    margin-right: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
    max-width: 200px;
  }
  
  .footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 1.5rem;
    margin-left: 10px;
    padding-bottom: 10px;
  }
  
  
  .nav__title {
    color:  #219ebc;
    font-weight: 400;
    font-size: 15px;
    /* margin-left: 10px; */
  }
  
  .footer address {
    font-style: normal;
    color: #2f2f2f;
    padding-left: 5px;
    padding-top: 5px;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
    color:  #219ebc;
    padding: 10px;
    line-height: 2em;
  }
  
  .footer__nav {
    display: flex;
      flex-flow: row wrap;
  }

  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: #2f2f2f;
  }

  .short_about{
    color: #2f2f2f;
    margin-right: 4em;
    margin-left: 2em;
  }
  .short_about p {
   
    padding-top: 10px;
    text-align:justify;
    padding-right: 50px;

  }
  

  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #2f2f2f;
  }

  .legal p {
    padding-top: 18px;
  }
    
  .legal__links {
    display: flex;
    align-items: center;
  }
  
  .heart {
    color: #219ebc;
  }
  

  /* ----------------------- */

  /* team cards */

  #team-cards{
 margin-bottom: 100px;
  }

  #team-title h2{
    font-family: 'Philosopher', sans-serif;
    font-weight: 500;
    font-size: 40px;

  }
  #team-title{
   padding: 40px;
  }

  .team-card-body{
    font-family: 'Philosopher', sans-serif;
  color: rgb(56, 55, 55)!important;
   background-image: url(../AdobeStock_313609653.jpeg)!important;
  }
 
  .profile-photo{
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
    opacity: 1;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 1);
    margin-left: 94px;
  }
 

  .team-cards i{
    font-size: 30px;
    color: rgb(56, 55, 55);
    border: 1px solid rgb(56, 55, 55);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 38px;
  }
 
  .team-cards i:hover {
    background-color:#fff;
    color:#378484;
    text-decoration:none;
  }

  /* --------recipe cards-------- */
#recipe-card{
padding-top: 20px;
margin-bottom: 30px;
}

  #rec-display li{
    color: #444;
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    list-style-type: none;
  }
  #recipeBtn{
    text-decoration: none;
    text-align: center;
    width: 130px;
    padding: 10px 0;
    background: #7cd5f3;
    color: whitesmoke;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 4px;
  }


  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto!important;
    }
   
  }
  
  @media screen and (min-width: 40.375em) {
   
    .footer__nav > * {
      flex: 1;
    }
    
    
    .footer__addr {
      flex: 1 0px;
      flex-grow: 3;
    }
    
    .footer__nav {
      flex: 3 0px;
    }
    
  }